<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>My Account</title>
</head>
<body>
    <h1>My Account</h1>
    <div th:if="${user}">
        <p>Name: <span th:text="${user.name}"></span></p>
        <p>Email: <span th:text="${user.email}"></span></p>
        
        <a th:href="@{/account/edit}">Edit Account</a>
        <a th:href="@{/account/orders}">My Orders</a>
    </div>
    <a th:href="@{/}">Back to Home</a>
</body>
</html>
