<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Orders - Admin</title>
</head>
<body>
    <h1>Orders of <span th:text="${user.firstName + ' ' + user.lastName}"></span></h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Total</th>
                <th>Status</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="order : ${orders}">
                <td th:text="${order.id}"></td>
                <td th:text="'$' + ${#numbers.formatDecimal(order.total_price, 1, 2)}"></td>
                <td th:text="${order.status}"></td>
                <td><a th:href="@{'/admin/order/' + ${order.id}}">View</a></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{'/admin/users/' + ${user.id}}">Back to User</a>
</body>
</html>
