<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Management - Admin</title>
</head>
<body>
    <h1>User Management</h1>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Registered</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="user : ${users}">
                <td th:text="${user.id}"></td>
                <td><a th:href="@{'/admin/users/' + ${user.id}}" th:text="${user.firstName + ' ' + user.lastName}"></a></td>
                <td th:text="${user.email}"></td>
                <td th:text="${user.role}"></td>
                <td>
                    <div th:if="${user.blocked}">
                        <a th:href="@{/admin/users/{id}/unblock(id=${user.id})}">Block</a>
                    </div>
                    <div th:unless="${user.blocked}">
                        <a th:href="@{/admin/users/{id}/block(id=${user.id})}">Block</a>
                    </div>
                    <a th:href="@{/admin/order/orders_of/{id}(id=${user.id})}">Orders</a>
                </td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/admin}">Back to Admin Panel</a>
</body>
</html>
