<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User Details - Admin</title>
</head>
<body>
    <h1>User Details</h1>
    <div th:if="${user}">
        <p>ID: <span th:text="${user.id}"></span></p>
        <p>Name: <span th:text="${user.name}"></span></p>
        <p>Email: <span th:text="${user.email}"></span></p>
        <p>Role: <span th:text="${user.role}"></span></p>
        <p>Registered: <span th:text="${#dates.format(user.registrationDate, 'dd MMM yyyy')}"></span></p>
        
        <a th:href="@{'/admin/users/' + ${user.id} + '/edit'}">Edit User</a>
        <a th:href="@{'/admin/users/' + ${user.id} + '/orders'}">View Orders</a>
        <form th:action="@{'/admin/users/' + ${user.id} + '/delete'}" method="post" onsubmit="return confirm('Are you sure?')">
            <button type="submit">Delete User</button>
        </form>
    </div>
    <a th:href="@{/admin/users}">Back to Users</a>
</body>
</html>
